OPENAI_API_KEY=tu-api-key-de-openai
OPENAI_MODEL=gpt-4o-mini
# GOOGLE_SHEETS_ID=id-de-tu-google-sheet-secundario
GOOGLE_SHEETS_ID=id-de-tu-google-sheet-principal
SHEETS_VENTAS_NOMBRE=Ventas
GRUPO_AUTORIZADO=Contabilidad
TIEMPO_TTL_CONTEXTO=14400000
TIEMPO_CIERRE_RESPALDO=14400000
LOG_LEVEL=INFO
